body{
    font-family: Arial, sans-serif;
    background:#f4f4f4;
    padding:40px;
}

.container{
    background:white;
    padding:30px;
    border-radius:10px;
    max-width:900px;
    margin:auto;
}

input{
    width:100%;
    padding:12px;
    margin-bottom:15px;
}

button{
    padding:12px 20px;
    cursor:pointer;
}

#output{
    margin-top:20px;
    white-space:pre-wrap;
}